.generation__from {
    background-color: #2f3542;
    color: #fff;
    width: 500px;
    text-align: center;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.generation__title {
}

.generation__input {
    padding: .8rem 1rem;
    display: inline-block;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    background-color: #595d68;
    color: #fafafa;
    border-radius: .5rem;
}

.generation__input::placeholder{
    color: #82868e;
}

.generation__img{
    height: 350px;
}

.generation__submit{
    background-color: #57606f;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: .5rem;
    color: #fafafa;
    width: 100%;
    cursor: pointer;
}

.generation__load {
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.generation__load span{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 2px solid #fff;
    border-bottom: 0;
    border-radius: 50%;
    animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
    0%{
        transform: rotate(360deg);
    }
}